Web/TP/TP3Ex3/Convertisseur/src/main/webapp/wsdl/ServiceConvertisseurJPYToGBP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jpytogbp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jpytogbp" xmlns:intf="http://jpytogbp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jpytogbp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convert">
    <complexType>
     <sequence>
      <element name="jpy" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertResponse">
    <complexType>
     <sequence>
      <element name="convertReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertResponse">

      <wsdl:part element="impl:convertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertRequest">

      <wsdl:part element="impl:convert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceConvertisseurJPYToGBP">

      <wsdl:operation name="convert">

         <wsdl:input message="impl:convertRequest" name="convertRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertResponse" name="convertResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceConvertisseurJPYToGBPSoapBinding" type="impl:ServiceConvertisseurJPYToGBP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceConvertisseurJPYToGBPService">

      <wsdl:port binding="impl:ServiceConvertisseurJPYToGBPSoapBinding" name="ServiceConvertisseurJPYToGBP">

         <wsdlsoap:address location="http://localhost:8081/Convertisseur/services/ServiceConvertisseurJPYToGBP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
